<Gff Version="1" Type="IFO">
    <Word Name="Expansion_Pack">1</Word>
    <Int Name="Mod_Creator_ID">2</Int>
    <List Name="Mod_CutSceneList"/>
    <Byte Name="Mod_DawnHour">6</Byte>
    <CExoLocString Name="Mod_Description">
        <DWord Name="StringRef">4294967295</DWord>
        <SubString>
            <Int Name="StringID">0</Int>
            <CExoString Name="String">A new take on the classic Anphillia.</CExoString>
        </SubString>
    </CExoLocString>
    <Byte Name="Mod_DuskHour">18</Byte>
    <ResRef Name="Mod_Entry_Area">adream</ResRef>
    <Float Name="Mod_Entry_Dir_X">-0.788347</Float>
    <Float Name="Mod_Entry_Dir_Y">-0.615231</Float>
    <Float Name="Mod_Entry_X">148.000000</Float>
    <Float Name="Mod_Entry_Y">138.000000</Float>
    <Float Name="Mod_Entry_Z">0.000000</Float>
    <List Name="Mod_Expan_List"/>
    <List Name="Mod_GVar_List"/>
    <Byte Name="Mod_IsSaveGame">0</Byte>
    <CExoString Name="Mod_MinGameVer">1.74</CExoString>
    <Byte Name="Mod_MinPerHour">3</Byte>
    <CExoLocString Name="Mod_Name">
        <DWord Name="StringRef">4294967295</DWord>
        <SubString>
            <Int Name="StringID">0</Int>
            <CExoString Name="String">Anphillia Rise</CExoString>
        </SubString>
    </CExoLocString>
    <ResRef Name="Mod_OnAcquirItem">mod_acquire</ResRef>
    <ResRef Name="Mod_OnActvtItem">mod_activate</ResRef>
    <ResRef Name="Mod_OnClientEntr">mod_enter</ResRef>
    <ResRef Name="Mod_OnClientLeav">mod_leave</ResRef>
    <ResRef Name="Mod_OnCutsnAbort">mod_cutabort</ResRef>
    <ResRef Name="Mod_OnHeartbeat">mod_hb</ResRef>
    <ResRef Name="Mod_OnModLoad">mod_load</ResRef>
    <ResRef Name="Mod_OnModStart">mod_start</ResRef>
    <ResRef Name="Mod_OnPlrDeath">mod_pdeath</ResRef>
    <ResRef Name="Mod_OnPlrDying">mod_pdying</ResRef>
    <ResRef Name="Mod_OnPlrLvlUp">mod_plevel</ResRef>
    <ResRef Name="Mod_OnPlrRest">mod_prest</ResRef>
    <ResRef Name="Mod_OnSpawnBtnDn">mod_respawn</ResRef>
    <ResRef Name="Mod_OnUnAqreItem">mod_unacquire</ResRef>
    <ResRef Name="Mod_OnUsrDefined">mod_userdef</ResRef>
    <Byte Name="Mod_StartDay">1</Byte>
    <Byte Name="Mod_StartHour">1</Byte>
    <Byte Name="Mod_StartMonth">1</Byte>
    <ResRef Name="Mod_StartMovie"></ResRef>
    <DWord Name="Mod_StartYear">1</DWord>
    <CExoString Name="Mod_Tag">ANPHILLIA</CExoString>
    <DWord Name="Mod_Version">3</DWord>
    <Byte Name="Mod_XPScale">0</Byte>
</Gff>
